__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

venv/
venv_win/
env/

node_modules/

.env

.DS_Store
Thumbs.db

.vscode/
.idea/

*.log

.streamlit/secrets.toml

.ipynb_checkpoints/

airflow_orchestration/logs/
airflow_orchestration/airflow.db