
__pycache__/
*.pyc

venv/
venv_win/

storage/raw_events/
storage/offline_features/
storage/online_store/
storage/freshness/
storage/state/
storage/processed_ids.json

logs/
airflow_orchestration/logs/

airflow_orchestration/.env

.streamlit/

airflow_orchestration/config/airflow.cfg
airflow_orchestration/.env
